{% extends "_padre.html" %} 

{% load static %}

{% block titulo %}

<h1 class="mb-5">Agregando Avatar de {{ user.username }}</h1>

{% endblock %}

{% block cuerpo %}
<h2>AGREGAR AVATAR</h2>

<!--div class="masthead-subheading">Formulario de peliculas</div-->

<form action="{% url 'agregarAvatar' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

    <table>
        {{ formulario.as_table }}
    </table>
    <input type="submit" value="Agregar Avatar"></input>
</form>

{{ mensaje }}

{% endblock %}