{% extends "_padre.html" %} 

{% load static %}

{% block cuerpo %}
{% if mensaje %}

{% else %}
  <style>.errorlist{color:red;}</style>
  <form action="{% url 'editar_usuarios' usuario.id %}" method="POST">{% csrf_token %}
    <h2 style="text-align:center;">Editar usuario</h2><br>
    <table>
      {{ formulario.as_table }}
    </table><br>
    <button type="submit" style="width:100%;">Guardar</button><br><br>
    <a class="nav-menu_hover_item" href="{% url 'listar_usuarios' %}">
      <button type="button" style="width:100%;" >Volver</button>
    </a><br><br><br>
    <h2 style="text-align:center; color:red;">{{ mensaje }} </h2>  
  </form><br>
{% endif %}  
{% endblock %}