{% extends "_padre.html" %} 

{% load static %}

{% block cuerpo %}
<table style="padding:20px; margin:auto; border:1px dotted grey;">
    <tr>
        <td>
            <h1>Sobre nosotros.</h1>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                En 2022, un grupo de individuos, con la idea de iniciarse en el mundo de la programación; comenzó el curso de python que da <strong>CoderHouse</strong>.<br>
                Nuestra curiosidad en común respecto a nuevas tecnologíass nos ayudo a poder seguir hasta el final de nuestros estudios y nos vemos aquí, dado por terminado este proyecto final de carrera.<br> 
                Aquí abajo se detallan los integrantes del grupo en orden alfabético. 
            </p><br>
        </td>
        <tr>
            <td>
                <p>
                    Nicolas Villa: tiene 35 años, es comunicador y periodista. Vive en Villa Devoto, barrio de Capital Federal, Buenos Aires. 
                </p><br>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Pablo Olivare tiene 38 años, es programador hace otros 8 años, especializado en lenguaje PHP. Vive en Montevideo, Uruguay. Es su primera incursion en Python.
                </p><br>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Tomas Abraham tiene 28 años, se dedica a Marketing Digital y vive en La Pampa. Esta es su primera experiencia en la programacion.
                </p><br>
            </td>
        </tr>
</table>







{% endblock %} 