{% extends "_padre.html" %} 

{% load static %}

{% block cuerpo %}


<style>
    .tb_verMas td{border-bottom: 1px solid blue;}
</style>
<table style="padding: 10px; font-size: 25px;" class="tb_verMas">
    <tr>
        <td colspan="2">
            {{ evento.titulo }}
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{ MEDIA_URL }}{{evento.imagen}}" alt="Fondo" width="250px" height="250px">
        </td>
        <td>
            {{ evento.subtitulo }}<br>
            {{ evento.fecha }}<br>
        </td>       
    </tr>
    <tr>
        <td colspan="2">
            {{ evento.cuerpo }}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Autor: {{ evento.autor }}
        </td>
    </tr>
</table>

    



{% endblock %} 